.home {
    display: flex;
    background-image: "https://img.freepik.com/vector-premium/estetica-montana-fondos-pantalla-imagen-fondo_584397-109.jpg?w=1380";
    background-size: cover;
    flex-direction: column;
    height: 81vh;   
}

.RocioE{
    display: flex;
    justify-content: center;
    font-size: 150px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 200px;
    transition: all 0.8s ease;

}

.home h1:focus{
    background-color: #ebba50;
    color: #161616;
}